.App {
  min-height: 100vh;
  background-image: linear-gradient(-45deg, #f46b45 0%, #FFD194 100%);
  padding: 2rem;
}

.logo,
.credits {
  color: #FFF;
  text-align: center;
  font-size: 4rem;
}

.logo h1,
.credits {
  font-size: 1rem;
}

.credits a {
  text-decoration: none;
  color: #4d4d4d;
  transition: color 1s
}

.credits a:hover {
  color: #FFF;
}

.search__form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__bar {
  width: 60%;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 10px;
}

.search__button {
  background: #FFF;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 20px;
  margin-left: 1px;
  color: #4d4d4d;
  cursor: pointer;
  transition: all 0.3s
}

.search__button:hover {
  background: #FFD194;
  color: #FFF;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}